<footer class="footer">

    <p className="footer-text">Made by <a className="port-text" target="_blank" rel="noopener noreferrer"
            href="https://burmy.me/"> Anmol Burmy
        </a> :)</p>
    </div>
    </div>
</footer>