<nav class="navbar">

    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fa fa-bars"></i>
    </span>

    <div class="brand">
        <a href="/" class="logo"></a>
        <h1 class="brand-title">PIXIS</h1>
    </div>

    <div class="search">
        <input class="input" type="text" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>

    <ul class="main-nav" id="js-menu">
        <li>
            <a href="/login" class="button">Login</a>
        </li>
        <li>
            <a href="/register" class="button">Join Us</a>
        </li>
    </ul>

</nav>

<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {
        mainNav.classList.toggle('active');
    });
</script>