<nav class="navbar">

    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fa fa-bars"></i>
    </span>

    <div class="brand">
        <a href="/" class="logo"></a>
        <h1 class="brand-title">PIXIS</h1>
    </div>

    <div class="search">
        <input class="input" id="searchText" type="text" placeholder="What are you looking for?">
        <button type="submit" id="searchButton" class="searchButton">
            <i class="fa fa-search" class="searchButton"></i>
        </button>
    </div>

    <ul class="main-nav" id="js-menu">
        {{#if logged}}
        <li>
            <a href="/postimage" class="button">Post</a>
        </li>
        <li>
            <a href="/users/logout" id="logout-btn" class="button">Logout</a>
        </li>

        {{else}}
        <li>
            <a href="/login" class="button">Login</a>
        </li>
        <li>
            <a href="/postimage" class="button">Post</a>
        </li>
        {{/if}}
    </ul>

</nav>