<nav class="nav">
    <div class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fa fa-bars"></i>
        </span>

        <div class="brand">
            <a href="/" class="logo"></a>
            <h1 class="brand-title">PiXiS</h1>
        </div>



        <ul class="main-nav" id="js-menu">
            {{#if logged}}
            <li>
                <a href="/postimage" class="button-nav">Post</a>
            </li>
            <li>
                <a /users/logout id="logout-btn" class="button-nav">Logout</a>
            </li>

            {{else}}
            <li>
                <a href="/login" class="button-nav">Login</a>
            </li>
            <li>
                <a href="/postimage" class="button-nav">Post</a>
            </li>
            {{/if}}
        </ul>

    </div>
</nav>