<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="login-page">
        <div class="container">

            <div class="login-card">

                <form>
                    <h2 class="heading"> Log In </h2>

                    <input class="input" type="text" name="uname" placeholder="Username" required>

                    <input class="input" type="password" name="pwd" placeholder="Password" required>

                    <input class="button" type="submit" name="submit" value="Submit">

                    <p> Not a member yet? Sign up
                        <a href="/register">
                            here.
                        </a>
                    </p>
                </form>

            </div>

        </div>
    </div>


</body>

</html>