<div class="main-page">
    <div class="main-welcome">


        {{#if logged}}
        <h2>See Whats Trending!</h2>
        {{else}}
        <h2>This is Pixis </h2>
        <h2>The newest photo sharing app on the Internet.</h2>
        <a href="/register">
            <input class="button" type="submit" name="submit" value="Join Us!">
        </a>
        {{/if}}



    </div>
    <div id="main-page-content">
        {{#each results}}
        {{> card this}}
        {{/each}}
    </div>

</div>