<div class="main-page">
    <div class="main-welcome">
        {{#if logged}}
        <h2>See Whats Trending!</h2>
        {{else}}
        <h2 class="welcome-head">This is Pixis </h2>
        <h2 class="welcome-sub">The newest photo sharing app on the Internet.</h2>
        <a href="/register">
            <input class="button" type="submit" name="submit" value="Join Us!">
        </a>

        {{/if}}
    </div>

    <div class="card-container">
        <div class="search">
            <input id="searchText" onkeypress="pressEnterSearch(event)" type="text"
                placeholder="Search tags or specific captions!">
            <button type="submit" id="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div id="main-page-content">
            {{#each results}}
            {{> card this}}
            {{/each}}
        </div>
    </div>
</div>