<div class="post-page">
    <div class="container">
        <div class="upload-card">
            <form method="POST" action="/posts/createPost" enctype="multipart/form-data">

                <h2 class="heading">Post Images</h2>

                <div class="upload-container">
                    <div class="upload-image">
                        <label for="upload" style="margin-bottom: 15px;">Upload your Image:</label>
                        <input accept="image/*" type="file" name="uploadImage" onchange="loadFile(event)" required>
                        <img id="imgPreview" />
                    </div>

                    <div class="upload-info">
                        <label for="title">Tags</label>
                        <input class="input" type="text" name="title" placeholder="...">

                        <label for="desc">Description</label>
                        <textarea class="input" style="height: 400px;" name="description" placeholder="..."></textarea>


                    </div>
                </div>
                <div class="check">
                    <input type="checkbox" name="confirmPolicy" required>
                    <label for="img-policy">I have read and accept the</label>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Acceptable Use Policy
                        for
                        uploading images.</a>
                </div>
                <input class="button" type="submit" value="Submit">

            </form>
        </div>
    </div>
</div>