<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script defer type="text/javascript" src="public/js/formValidation.js"></script>
    <title>Register</title>
</head>

<body>
    <div class="register-page">
        <div class="logo"></div>
        <div class="container">

            <div class="reg-upload-card">

                <form id="form">

                    <h2 class="heading">Sign Up</h2>

                    <input id="uname" class="input" type="text" name="uname" placeholder="Username">
                    <div id="uname_error" class="error"></div>
                    <div id="uname_char_error" class="error"></div>

                    <input class="input" type="email" name="mail" placeholder="Email">

                    <input id="pwd" class="input" type="password" name="pwd" placeholder="Password">
                    <div id="pwd_error" class="error"></div>
                    <div id="pwd_char_error" class="error"></div>

                    <input id="c_pwd" class="input" type="password" name="c_pwd" placeholder="Confirm Password">
                    <div id="c_pwd_error" class="error"></div>

                    <div class="check">
                        <div class="age">
                            <input type="checkbox" name="confirmAge" required>
                            <label for="age">I accept I am 13+ years of age.</label>
                        </div>
                        <div class="policy">
                            <input type="checkbox" name="confirmPolicy" required>
                            <label for="policy">I have read and accept the</label>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">TOS and Privacy
                                Rules.</a>
                        </div>
                    </div>

                    <input class="button" type="submit" value="Submit" onclick="return validation()">
                    <p> Already a member? Log in
                        <a href="/login">
                            here.
                        </a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</body>

</html>